.primary-value {
  font-size: 36px;
}

.secondary-value {
  font-size: 24px;
}

ion-item {
  --inner-padding-top: 12px;
  --inner-padding-bottom: 12px;
}

ion-toolbar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}

kws-condition {
  --kws-condition-image-height: 212px;
  --kws-condition-label-font-size: 24px;
}

kws-daily-forecast {
  --kws-daily-forecast-display: flex;
  --kws-daily-forecast-date-font-size: larger;
  --kws-daily-forecast-description-font-size: large;
  --kws-daily-forecast-description-font-weight: bold;
  --kws-daily-forecast-description-padding-left: 24px;
  --kws-daily-forecast-image-height: 96px;
}
