.primary-value {
  font-size: 36px;
}

.secondary-value {
  font-size: 24px;
}

ion-item {
  --inner-padding-top: 12px;
  --inner-padding-bottom: 12px;
}

ion-toolbar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}
